*{
    margin: 0em;
    padding: 0em;
    font-family: "rockwell";
    background-color: black;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    
    background-image: url(../images/horikita-2.png);
    justify-content: center;
    align-items: center;
}


.formulario{
    display: grid;
    border: 1px solid white;
    width: 40vw;
    height: 90vh;
    grid-template-columns: 50% 50%;
    grid-template-areas:"type type"
                        "texto texto"
                        "email email"
                        "pass pass"
                        "send send"
                        "error-message error-message";
    
    
}


.type{
    grid-area: type;
    /* background-color: #202020; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}


.type > a{
    display: flex;
    text-decoration: none;
    color: white;
    /* background-color: #202020; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #202020;
    font-size: 1.3em;
}
.type>a:hover{
	text-decoration: underline;
}

.text{
    grid-area: texto;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3em;
}


.text > a{
    display: flex;
    background-color: #202020;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.3em;
}

.email{
    grid-area: email;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


#email-field > input{
    background-color: #202020;
    width: 10em;
    height: 2em;
    font-size: 1.3em;
    color: white;
    padding-left: .4em;
    border-radius: 1em;
}
#email-field{background-color: #202020;}


.pass{
    grid-area: pass;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pass-field{background-color: #202020;}

#pass-field > input{
    background-color: #202020;
    width: 10em;
    height: 2em;
    font-size: 1.3em;
    color: white;
    padding-left: .4em;
    border-radius: 6em;
}
.login-error{
	grid-area: error-message;
	background-color: #202020;
	height:100%;
}

.login-error > .erro{
	width:100%;
	height:100%;
	border: 1px solid red;
}

.login-error > .erro > p{
	display:flex;
	background-color: #FFD2D2;
	color: #D8000C;
	width:100%;
	height:100%;
	font-size: 1.3em;
	align-items: center;
    justify-content: center;
}

.send{
    grid-area: send;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send-field{background-color: #202020;}

#send-field > button{
    background-color: black;
    width: 10em;
    height: 2em;
    font-size: 1.3em;
    border-radius: 6em;
    color: white;
}


#send-field > button:hover{
    background-color: #555555;
}


@media(max-width:800px){
    *{
        margin: 0em;
        padding: 0em;
        font-family:  'Arial Narrow', Arial, sans-serif;
        background-color: black;
        font-size: 1em;
    }
    
    body{
        display: flex;
        width: 100vw;
        height: 100vh;
        
        background-image: url(../images/horikita-2.png);
        justify-content: center;
        align-items: center;
    }
    
    
    .formulario{
        display: grid;
        border: 1px solid white;
        width: 100%;
        height: 90vh;
        grid-template-columns: 50% 50%;
        grid-template-areas:"type type"
                            "texto texto"
                            "email email"
                            "pass pass"
                            "send send"
                            "error-message error-message";
        
        
    }
    
    
    .type{
        grid-area: type;
        /* background-color: #202020; */
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    
    .type{
        align-items: center;
        justify-content: center;
        /* background-color: #202020; */
        color: white;
    }
    
    .type > a{
        display: flex;
        text-decoration: none;
        color: white;
        /* background-color: #202020; */
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #202020;
        font-size: 1.1em;
    }
    
    .text{
        grid-area: texto;
        background-color: #151515;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        
    }
    
    
    .text > a{
        display: flex;
        background-color: #202020;
        color: white;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 1.1em;
    }
    
    .email{
        grid-area: email;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    
    
    #email-field > input{
        background-color: #202020;
        width: 10em;
        height: 2em;
        font-size: 1.1em;
        color: white;
        padding-left: .4em;
        border-radius: 1em;
    }
    #email-field{background-color: #202020;}
    
    
    .pass{
        grid-area: pass;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #pass-field{background-color: #202020;}
    
    #pass-field > input{
        background-color: #202020;
        width: 10em;
        height: 2em;
        font-size: 1.1em;
        color: white;
        padding-left: .4em;
        border-radius: 6em;
    }
    
	.login-error{
		grid-area: error-message;
		background-color: #202020;
		height:100%;
	}

	.login-error > .erro{
		width:100%;
		height:100%;
		border: 1px solid red;
	}

	.login-error > .erro > p{
		display:flex;
		background-color: #FFD2D2;
		color: #D8000C;
		width:100%;
		height:100%;
		font-size: 1.1em;
		align-items: center;
    	justify-content: center;
	}
    
    
    .send{
        grid-area: send;
        background-color: #202020;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #send-field{background-color: #202020;}
    
    #send-field > button{
        background-color: black;
        width: 10em;
        height: 2em;
        font-size: 1.3em;
        border-radius: 6em;
        color: white;
    }
    
    
    #send-field > button:hover{
        background-color: #555555;
    }
       
}