<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Resultados da Busca</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/resultado-busca.css}" />
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	

<script th:src="@{/https://kit.fontawesome.com/a03e70c092.js}"
	crossorigin="anonymous"></script>

</head>

<body>

	<header id="header">

		<a th:href="@{/}"><img class="logo" src="/images/logo.png"></a>
		<a th:href="@{/minhas-avaliacoes}" class="header-items"
			id="header-item-01">Minhas Avaliações</a> <a th:href="@{/categorias}"
			class="header-items" id="header-item-02">Categorias</a> <a
			th:href="@{/recomendacao}" class="header-items" id="header-item-03">Recomendação</a>

		<div class="search-area">

			<div class="search-area-2">

				<input class="search-field" type="text" name="" placeholder="Type">

				<a href="#" class="search-button"> <i class="fas fa-search"></i>
				</a>

			</div>

		</div>

		<div class="option-button" onclick="sidebarHandler()">

			<div class="option-button-button">
				<i class="fas fa-list"></i>
				<div class="sidebar">
					<div class="close">
						<button>Fechar &times</button>
					</div>
					<div class="user-info"></div>
					<div sec:authorize="isAnonymous()">
						<div class="options-sidebar-1" id="1">
							<a href="#" th:href="@{/login}">Login</a>

						</div>
					</div>
					<div sec:authorize="isAnonymous()">
						<div class="options-sidebar-2" id="2">
							<a href="#" th:href="@{/cadastro}">Cadastre-se</a>
						</div>
					</div>
					<div sec:authorize="isAuthenticated()">
						<div class="options-sidebar-2" id="2">
							<a href="#" th:href="@{/logout}">Sair</a>
						</div>
					</div>
					<div class="options-sidebar-3" id="3">Categorias</div>
					<div class="options-sidebar-4" id="4">Minhas Avaliações</div>

				</div>
			</div>


		</div>

	</header>

	<div class="content">

		<div class="r
		esults">
			<div class="resultado">
				<h2 style="text-align: center; color: white"
					th:text="${'Resultado da busca'}"></h2>
			</div>
			<div class="result-1" th:id="${ser.id}" th:each="ser:${series}">

				<img th:src="@{${ser.caminhoImagem}}"> <a
					th:href="@{'/pagina-individual/'+${ser.id}}">
					<h3 th:text="${ser.nome + 'Avaliação ' + ser.nota}"></h3>
				</a>
			</div>

			<div class="nada" th:if="${series.size() == 0}">
				<p>Busca não retornou nenhum resultado...</p>
			</div>
		</div>
		<div class="paginas">
			<div class="pag" th:each="pg:${paginas}">
				<a th:classappend="${pg.ativa} ? ativo : bata"
					th:href="${'?'+'pageNo='+pg.pagina}" th:text="${pg.pagina}"></a>
			</div>
		</div>

	</div>
	<div class="footer">
		<h4>Trabalho de Java & Web - Gilmar, Jediael, Luciano e Matheus -
			2020</h4>
	</div>
</body>
<script th:src="@{/script/sidebar.js}"></script>
</html>