<!DOCTYPE html>
<html>
<head>
	<title>Categorias</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style-categorias.css">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/a03e70c092.js" crossorigin="anonymous"></script>
</head>
<body>

	<header id="header">
		
		<img class="logo" src="images/logo.png">

		<a href="#" th:href="@{/minhas-avaliacoes}" class="header-items" id="header-item-01">Minhas Avaliações</a>	

		<a href="#" th:href="@{/categorias}" class="header-items" id="header-item-02">Categorias</a>

		<a href="#" th:href="@{/recomendacao}" class="header-items" id="header-item-03">Recomendação</a>

		<div class="search-area">

			<div class="search-area-2">

				<input class="search-field" type="text" name="" placeholder="Type">

				<a href="#" class="search-button">
					<i class="fas fa-search"></i>
				</a>

			</div>

		</div>

        <div class="option-button" onclick="sidebarHandler()">
        
            <div class="option-button-button">
                <i class="fas fa-list"></i>
                <div class="sidebar">
                    <div class="close" >
                        <button>Fechar &times</button>
                    </div>
                    <div class="user-info">

                    </div>
                    <div class="options-sidebar-1" id="1">
                        <a href="#" th:href="@{/login}">Login</a>
                        
                    </div>
                    <div class="options-sidebar-2" id="2">
                        <a href="#" th:href="@{/login}">Sair</a>
                        
                    </div>
                    <div class="options-sidebar-3" id="3">
                        Categorias
                    </div>    
                    <div class="options-sidebar-4" id="4">
                        Minhas Avaliações
                    </div>
                    
                </div>
            </div>


        </div>

	</header>

	<div id="content">
		
		<div id="content-area-1" >
			
			<div th:id="${cat.id}" th:each="cat:${categ}" class="cat-area">
				<div class="cat">
					<a th:id="${cat.id}" th:text="${cat.nome}" th:href="${cat.id}+@{/categoria-serie}"></a>
				</div>
			</div>

		</div>
		
	</div>


</body>
<script src="script/sidebar.js"></script>
</html>