<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Seu site de séries!</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="css/style-login2.css">


<script src="https://kit.fontawesome.com/a03e70c092.js"
	crossorigin="anonymous"></script>

</head>

<body>
	<form action="#" th:href="@{/login}" method="POST" autocomplete="on">
		<div class="formulario">
			<div class="text">Login</div>
			<div class="type">
				<a th:href="@{/cadastro}">Cadastre-se</a>
			</div>


			<div class="email">
				<div id="email-field">
					<input type="text" id="email" name="email"
						placeholder="email@email.com" />
				</div>
			</div>

			<div class="pass">
				<div id=pass-field>
					<input type="password" th:placeholder="Senha" id="senha"
						name="senha" />
				</div>
			</div>

			<div class="send">
				<div id=send-field>
					<button type="submit">Confirmar</button>
				</div>
			</div>

			<div class="login-error" align="center">
				<div class="erro" th:if="${param.error}">
					<p>Email ou senha inválida, por favor verifique</p>
				</div>
			</div>
		</div>
	</form>
</body>

</html>