<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Resultados da Busca</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/resultado-busca.css">

<script src="https://kit.fontawesome.com/a03e70c092.js"
	crossorigin="anonymous"></script>

</head>

<body>

	<header id="header">

		<img class="logo" src="images/logo.png"> <a
			th:href="@{/minhas-avaliacoes}" class="header-items"
			id="header-item-01">Minhas Avaliações</a> <a th:href="@{/categorias}"
			class="header-items" id="header-item-02">Categorias</a> <a th:href="@{/recomendacao}"
			class="header-items" id="header-item-03">Recomendação</a>

		<div class="search-area">

			<div class="search-area-2">

				<input class="search-field" type="text" name="" placeholder="Type">

				<a href="#" class="search-button"> <i class="fas fa-search"></i>
				</a>

			</div>

		</div>

		<div class="option-button" onclick="sidebarHandler()">

			<div class="option-button-button">
				<i class="fas fa-list"></i>
				<div class="sidebar">
					<div class="close">
						<button>Fechar &times</button>
					</div>
					<div class="user-info"></div>
					<div class="options-sidebar-1" id="1">
						<a th:href="@{/login}">Login</a>

					</div>
					<div class="options-sidebar-2" id="2">
						<a th:href="@{/login}">Sair</a>

					</div>
					<div class="options-sidebar-3" id="3">Categorias</div>
					<div class="options-sidebar-4" id="4">Minhas Avaliações</div>

				</div>
			</div>


		</div>

	</header>

	<div class="content">

		<div class="results">
			<div class="resultado">
				<h2 style="text-align: center; color: white"
					th:text="${'Resultado de busca para : '+busca}"></h2>
			</div>
			<div class="result-1" th:id="${ser.id}" th:each="ser:${series}">
				<img th:src="@{'images/series_covers/'+${ser.caminhoImagem}}">
				<h3 th:text="${ser.nome + 'Avaliação ' + ser.nota}"></h3>
			</div>
			<!--  <div class="result-2" id='2'>
                <img src="images/series_covers/bojack_horseman.jpg">
                <h3>Bojack Horseman Avaliação 9.5</h3>
            </div>
            <div class="result-3" id='3'>
                <img src="images/series_covers/vikings.jpg">
                <h3>Vikings Avaliação 9.5</h3>
            </div>-->
			<div class="nada" th:if="${series.size() == 0}">
				<p>Busca não retornou nenhum resultado...</p>
			</div>
		</div>
		<div class="paginas">
			<div class="pag" th:each="pg:${paginas}">
				<a th:classappend="${pg.ativa} ? ativo : bata"
					th:href="@{'/buscar'+${'?s='+busca+'&pageNo='+pg.pagina}}"
					th:text="${pg.pagina}"></a>
			</div>
		</div>

	</div>

</body>
<script src="script/sidebar.js"></script>
</html>